@import "_variables.scss";
@import "_reset.scss";
@import "_placeholders.scss";

html {
  background: $color-azul;
  background: linear-gradient(180deg, $color-azul 62%, $color-medio 100%);
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 20px;

  p {
    line-height: 1.8;
    font-weight: 500;
    font-size: 25px;
    font-family: "Yanone Kaffeesatz", sans-serif;
    color: #fad9d9;
    transition: text-shadow 1s;
  }

  p:hover {
    text-shadow: 2px 2px 2px rgb(0, 43, 46);
  }

  h1 a {
    margin: 400px 0px 400px 450px;
    text-decoration: none;
    font-family: "Yanone Kaffeesatz", sans-serif;
    color: $color-rosa;
    font-size: 80px;
    font-weight: 300;
    transition: color 1s;
  }

  h1 a:hover {
    color: $color-naranja;
  }

  h2 {
    color: $color-rosa;
    text-align: center;
    font-size: 40px;
    font-style: italic;
    margin: 40px 40px 40px 40px;
    transition: text-shadow 1s, font-size 1s;
  }

  h2:hover {
    text-shadow: 8px 8px 8px rgb(1, 62, 66);
    font-size: 45px;
  }

  h3 {
    font-style: italic;
    margin: 40px;
  }

  header {
    display: flex;
    justify-content: space-between;
    text-decoration: none;

    nav ul {
      display: flex;
      flex-direction: row;
      justify-content: left;
      text-decoration: none;
      margin-top: 65px;
      margin-right: 30px;
      list-style: none;

      li a {
        text-decoration: none;
        color: $color-naranja;
        margin: 10px;
        transition: font-size 1s, color 1s;
      }

      li a:hover {
        font-size: 27px;
        color: $color-rosa;
      }
    }
  }

  .imagen-head {
    position: relative;
    left: 30px;
    top: 50px;
    width: 100px;
  }

  .contenedor-dedicamos {
    text-align: justify;
    padding: 10px 40px 40px;
    border-style: dotted;
    border-color: $color-rosa;
    margin: 100px 100px;
  }

  .contenedor-artistas {
    .iframe-index {
      position: relative;
      left: 400px;
    }
  }

  .contenedor-servicios {
    text-align: center;
    padding: 40px 40px 40px 40px;
    margin: 0px 100px 70px 100px;
    .link-vermas {
      @extend %estilo-link;
      transition: font-size 1s;
    }
    .link-vermas:hover {
      font-size: 25px;
    }
  }

  .imagen-artistas {
    position: relative;
    left: 30px;
    top: 50px;
    width: 100px;
  }

  .seccion-artistas {
    text-align: justify;
    padding: 10px 40px 40px;
    border-style: dotted;
    border-color: $color-rosa;
    margin: 100px 100px;
  }

  .artistas-contenedor {
    .artista-1 {
      .img-wallows {
        width: 550px;
        height: 380px;
        margin: 30px;
        margin-left: 200px;
      }

      .iframe-wallows {
        margin: 30px;
      }

      .wallows-bio {
        margin: 30px 100px 100px 100px;
        text-align: justify;
      }
    }

    .artista-2 {
      .img-elmato {
        width: 550px;
        height: 380px;
        margin: 30px;
        margin-left: 200px;
      }

      .iframe-elmato {
        margin: 30px;
      }

      .elmato-bio {
        margin: 30px 100px 100px 100px;
        text-align: justify;
      }
    }

    .artista-3 {
      .img-tame {
        width: 550px;
        height: 380px;
        margin: 30px;
        margin-left: 200px;
      }

      .iframe-tame {
        margin: 30px;
      }

      .tame-bio {
        margin: 30px 100px 100px 100px;
        text-align: justify;
        color: white;
      }
    }
  }

  .imagen-servicios {
    position: relative;
    left: 30px;
    top: 50px;
    width: 100px;
  }

  .contenedor-servicios-main {
    text-align: justify;
    padding: 10px 40px 40px;
    border-style: dotted;
    border-color: $color-rosa;
    margin: 100px 100px;
  }

  .contenedor-prod-music {
    text-align: center;
    padding: 10px 40px 40px;
    margin: 50px 100px 50px 100px;

    .imagen-prod {
      margin: 40px;
    }
  }

  .contenedor-medios {
    text-align: center;
    padding: 10px 40px 40px;
    margin: 50px 100px 50px 100px;

    .imagen-medios {
      margin: 40px;
    }
  }

  .contenedor-legales {
    text-align: center;
    padding: 10px 40px 40px;
    margin: 50px 100px 50px 100px;

    .imagen-legales {
      margin: 40px;
    }
  }

  .imagen-contacto {
    position: relative;
    left: 30px;
    top: 50px;
    width: 100px;
  }

  .contenedor-contacto {
    text-align: center;
    padding: 10px 40px 40px;
    margin: 50px 100px 50px 100px;
    .form-nombre,
    .form-apellido,
    .form-email,
    .form-textarea {
      margin: 20px;
      justify-content: center;
    }

    input,
    textarea {
      width: 200px;
      height: 30px;
      margin: 0;
    }
  }

  .imagen-nosotros {
    position: relative;
    left: 30px;
    top: 50px;
    width: 100px;
  }

  .contenedor-nosotros {
    text-align: justify;
    padding: 10px 40px 40px;
    border-style: dotted;
    border-color: $color-rosa;
    margin: 100px 100px;
  }

  .nosotros-equipo {
    display: grid;
    height: auto;
    grid-template-columns: 600px 600px;
    grid-template-rows: 600px 600px;
    grid-template-areas:
      "ceo ceo"
      "dir-prod dir-medios"
      "rep-legal dir-adm";
    grid-column-gap: 30px;
    grid-row-gap: 80px;
    margin-left: 60px;

    .contenedor-integrantes-ceo {
      text-align: center;
      padding: 10px 40px 40px;
      margin: 50px 100px 50px 100px;
      grid-area: ceo;
      .img-ceo {
        width: 370px;
        height: 400px;
      }
    }

    .contenedor-integrantes-dir-prod {
      text-align: center;
      padding: 10px 40px 40px;
      margin: 50px 100px 50px 100px;
      grid-area: dir-prod;
      .dir-prod {
        width: 350px;
        height: 300px;
      }
    }

    .contenedor-integrantes-dir-medios {
      text-align: center;
      padding: 10px 40px 40px;
      margin: 50px 100px 50px 100px;
      grid-area: dir-medios;
      .dir-medios {
        width: 350px;
        height: 300px;
      }
    }

    .contenedor-integrantes-rep-legal {
      text-align: center;
      padding: 10px 40px 40px;
      margin: 50px 100px 50px 100px;
      grid-area: rep-legal;
      .rep-legal {
        width: 350px;
        height: 280px;
      }
    }

    .contenedor-integrantes-dir-adm {
      text-align: center;
      padding: 10px 40px 40px;
      margin: 50px 100px 50px 100px;
      grid-area: dir-adm;
      .dir-adm {
        width: 320px;
        height: 300px;
      }
    }
  }

  footer {
    .contacto-footer {
      @extend %estilo-link;
      text-align: left;
      float: left;
      display: block;
      margin: 80px;
      transition: font-size 1s;
    }

    .contacto-footer:hover {
      font-size: 30px;
    }

    .p-footer {
      text-align: right;
      font-style: italic;
      font-weight: 500;
      display: block;
      float: right;
      margin: 70px;
      color: white;
      transition: text-shadow 1s;
    }

    .p-footer:hover {
      text-shadow: 8px 8px 8px $color-azul;
    }
  }
}

@media (max-width: 768px) {
  html {
    width: 768px;
  }

  html header {
    display: inline;
  }

  html body header div.imagen-logo img {
    margin-left: 80px;
  }

  html body div.imagen-artistas img {
    width: 700px;
  }

  html .artistas-contenedor .artista-1 .img-wallows {
    margin-left: 115px;
  }

  html .artistas-contenedor .artista-1 .iframe-wallows {
    margin-left: 140px;
    width: 500px;
    height: 580px;
  }

  html .artistas-contenedor .artista-2 .img-elmato {
    margin-left: 115px;
  }

  html .artistas-contenedor .artista-2 .iframe-elmato {
    margin-left: 140px;
    width: 500px;
    height: 580px;
  }
  
  html .artistas-contenedor .artista-3 .img-tame {
    margin-left: 115px;
  }

  html .artistas-contenedor .artista-3 .iframe-tame {
    margin-left: 140px;
    width: 500px;
    height: 580px;
  }

  html body div.imagen-servicios img {
    width: 700px;
  }

  html .contenedor-prod-music .imagen-prod {
    width : 500px;
    margin-top: 40px;
    margin-left: 0px;
  }

  html .contenedor-medios .imagen-medios {
    width : 500px;
    margin-top: 40px;
    margin-left: 0px;
  }

  html .contenedor-legales .imagen-legales {
    width : 500px;
    margin-top: 40px;
    margin-left: 0px;
  }

  html body div.imagen-contacto img {
    width: 700px;
  }

  html body section div.contenedor-contacto form {
    width: 50%;
    margin-left: 120px;
  }

  html body div.imagen-nosotros img {
    width: 700px;
  }

  html body section.nosotros-equipo {
    display: inline;
  }

  html header nav ul {
    flex-direction: column;
    align-items: center;
    margin: 20px;
    margin-bottom: 50px;
    font-size: 30px;
  }

  html h1 a {
    margin-left: 170px;
  }

  html body div.imagen-head img {
    width: 700px;
    justify-content: center;
    margin-bottom: 50px;
  }

  html .contenedor-dedicamos {
    margin: 50px;
  }

  html p {
    font-size: 35px;
  }

  html h2 {
    font-size: 50px;
  }

  html .contenedor-artistas .iframe-index {
    left: 100px;
  }

  html footer .contacto-footer {
    float: none;
    text-align: center;
    font-size: 40px;
  }

  html footer .p-footer {
    float: none;
    text-align: center;
    font-size: 30px;
  }
}